<% layout('layouts/boilerplate')%>

<div class="d-flex mb-3 justify-content-center">
    <h1 class="display-3 text-light">All Posts</h1>
</div>

<div class="d-flex mb-3 justify-content-center">
    <form action="/posts/new">
        <button type="submit" class="btn-light btn btn-lg">Add Post</button>
    </form>
</div>

<% for (let post of posts){%>
<div class="card bg-dark mb-3">
    <div class="row">
        <% if (post.images.length === 0) { %>
        <div class="col-md-4">
            <img class="img-fluid" alt="" src="https://www.entspecialistspc.com/wp-content/uploads/2018/12/no-image.jpg">
        </div>
        <% } else { %>
        <div class="col-md-4">
            <img class="img-fluid" alt="" src="<%=post.images[0].url%>">
        </div>
        <% } %>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title text-light"><%= post.title %> </h5>
                <p class="card-text text-light"><%= post.body %></p>
                <a class="btn btn-light" href="/posts/<%=post._id%>">View <%=post.title%></a>
            </div>
        </div>
    </div>
</div>
<% }%>
